<template>
  <div>
    <!-- Header -->
    <!-- <HeaderLanding/> -->

    <!-- App Container -->
    <div class="fluid-container">

      <!-- Promo Header / Carousel Position -->
      <LandingCarousel />


      <!-- CTA: Join Now -->
      <section class="fdb-block fp-active" data-block-type="call_to_action" data-id="3" draggable="true">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
              <h1>Call to Action</h1>
              <p class="lead">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
              </p>
              <p class="mt-5 mt-sm-4">
                <a class="btn btn-secondary" href="https://www.froala.com">Download</a>
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Recent News & Updates -->
      <section class="mw8 center">
        <h2 class="tc b ph3 ph0-l">News</h2>
        <article class="tc bb b--black-10">
          <a class="db pv4 ph3 ph0-l no-underline black dim" href="#0">
            <div class="flex flex-column flex-row-ns">
              <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
                <img src="http://mrmrs.github.io/photos/cpu.jpg" class="center" alt="Photo of a dimly lit room with a computer interface terminal.">
              </div>
              <div class="w-100 w-60-ns pl3-ns">
                <h1 class="f3 fw1  mt0 lh-title">Tech Giant Invests Huge Money to Build a Computer Out of Science Fiction</h1>
                <p class="f6 f5-l lh-copy">
                  The tech giant says it is ready to begin planning a quantum
                  computer, a powerful cpu machine that relies on subatomic particles instead
                  of transistors.
                </p>

              </div>
            </div>
          </a>
        </article>
        <article class="tc bb b--black-10">
          <a class="db pv4 ph3 ph0-l no-underline black dim" href="#0">
            <div class="flex flex-column flex-row-ns">
              <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
                <img src="http://mrmrs.github.io/photos/warehouse.jpg" class="center" alt="Photo of a warehouse with stacked shelves.">
              </div>
              <div class="w-100 w-60-ns pl3-ns">
                <h1 class="f3 fw1  mt0 lh-title">Warehouse Prices Are Fast on the Rise</h1>
                <p class="f6 f5-l lh-copy">
                  A warehouse is a commercial building for storage of goods.
                  Warehouses are used by manufacturers, importers, exporters,
                  wholesalers, transport businesses, customs, etc. They are
                  usually large plain buildings in industrial areas of cities,
                  towns and villages.
                </p>

              </div>
            </div>
          </a>
        </article>
        <article class="tc bb b--black-10">
          <a class="db pv4 ph3 ph0-l no-underline black dim" href="#0">
            <div class="flex flex-column flex-row-ns">
              <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
                <img src="http://mrmrs.github.io/photos/whale.jpg" class="center" alt="Photo of a whale's tale coming crashing out of the water.">
              </div>
              <div class="w-100 w-60-ns pl3-ns">
                <h1 class="f3 fw1  mt0 lh-title">Giant Whale Invests Huge Money to Build a Computer Out of Plankton</h1>
                <p class="f6 f5-l lh-copy">
                  Whale is the common name for a widely distributed and diverse
                  group of fully aquatic placental marine mammals. They are an
                  informal grouping within the infraorder Cetacea, usually
                  excluding dolphins and porpoises.
                </p>

              </div>
            </div>
          </a>
        </article>
      </section>


    </div>

  </div>

</template>

<script>
// import HeaderLanding from '~/components/headers/HeaderLanding.vue'
import LandingCarousel from '~/components/index/LandingCarousel.vue'

export default {
  layout: 'landing',
  components: {
    // HeaderLanding
    LandingCarousel
  }
}
</script>

<style>

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.container {
  max-width: 960px;
}



/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
</style>

