<template>

<div class="main-div text-center">
  <div class="form-signin">
    <!-- Logo & Subtitle -->
    <a href="/">
      <img class="mb-4" src="../static/img/tcg-full-black.svg" alt="" height="50">
    </a>


    <h1 class="h2 mb-5 font-weight-normal">Welcome Back</h1>

    <!-- Login Form -->
    <form action="" class="needs-validation mt-2 pa3 bg-light-gray br3" novalidate @submit.prevent="handleSubmit">

      <div class="mb-3">
        <label for="username">Username</label>
        <div class="input-group">
          <!-- <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div> -->
          <input type="text" class="form-control tc pr3" id="username" placeholder="Username" required v-model.trim="user.username">
          <div class="invalid-feedback" style="width: 100%;">
            Your username is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control tc" id="exampleInputPassword1" placeholder="Password" v-model="user.password">
        </div>
      </div>

      <!-- <hr class="mb-4"> -->


      <!-- <a class="btn white btn-success btn-lg btn-block" :href="username">Submit</a> -->
      <button :disabled="loading" type="submit" class="btn white btn-success btn-lg btn-block" >Log In</button>
    </form>

    <h5 class="mt-3 font-weight-normal">Click to <span><a href="/signup">sign up</a></span> if you don't have a profile</h5>
  </div>
</div>


</template>

<script>
import axios from 'axios'
import Cookies from 'js-cookie'


// import Footer from '~/components/Footer.vue'

export default {
  layout: 'noheader',
  data: function() {
    return {
      loading: false,
      user: {
        username: '',
        password: ''
      },
    }
  },
  methods: {
    handleSubmit(){

      // Make the Login Request
      axios
        // .post('http://localhost:1337/auth/local', {
        .post('http://35.247.72.90:1337/auth/local', {
          identifier: this.user.username,  // identifier: 'user@strapi.io', (email || username)
          password: this.user.password     // password: 'strapiPassword'
        })
        .then(response => {
          // Handle success.
          // alert('We logged in!');
          // console.log('User profile', response.data.user);
          // console.log('User token', response.data.jwt);

          // Get the JWT & Username and save on the client with Cookies
          Cookies.set('tcg-user-id', response.data.user._id, { expires: 90 })
          Cookies.set('tcg-username', response.data.user.username, { expires: 90 })
          Cookies.set('jwt', response.data.jwt, { expires: 90 })

          // Route them home (to the huddle or to their dashboard)
          this.$router.push('/')
        })
        .catch(error => {
          // Handle error.
          console.log('Could not log user in. An error occurred:', error);
          alert('Could not log user in. An error occurred:', error);
        });
    }
  },
  components: {
    // Footer
  }
}
</script>

<style>


.main-div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;

}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>

