<template>

  <div>
    <!-- <h1>Logging Out.</h1> -->
    <article class="vh-100 dt w-100 bg-light-silver">
      <div class="dtc v-mid tc white ph3 ph4-l">
        <h1 class="f6 f2-m f-subheadline-l fw6 tc">Logging Out</h1>
      </div>
    </article>
  </div>

</template>

<script>
import axios from 'axios'
import Cookies from 'js-cookie'


export default {
  layout: 'noheader',
  created(){
    // Remove the TCG User ID && JWT
    Cookies.remove('tcg-user-id');
    Cookies.remove('tcg-username');
    Cookies.remove('jwt');

    // And send user to the home screen
    this.$router.push('/')

  },
  // layout: 'noheader',
  // data: function() {
  //   return {
  //     // loading: false,
  //     // user: {
  //     //   email: '',
  //     //   password: ''
  //     // },
  //   }
  // },
  methods: {
    handleSubmit(){

      // this.$router.push('/')
    }
  },
  components: {
    // Footer
  }
}
</script>

<style>


.main-div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;

}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>

