<template>

<div class="main-div text-center">
  <div class="form-signin">
    <!-- Logo & Subtitle -->
    <a href="/">
      <img class="mb-3" src="../static/img/tcg-full-black.svg" alt="" height="50">
    </a>
    <h1 class="h2 mb-2 font-weight-normal">Choose your position</h1>

    <!-- Button Group for choosing role -->
    <h5 class="mt-3 mb-4 font-weight-normal">Or click to <span><a href="/login">Log In</a></span> if you have a profile</h5>
    <div class="btn-group mb4" role="group" aria-label="Role Selection">
      <button
        type="button"
        class="btn "
        v-bind:class="{ 'btn-secondary': athleteActive, 'btn-secondary-outline': athleteInactive }"
        v-on:click="pressAthlete">Athlete</button>
      <button
        type="button"
        class="btn "
        v-bind:class="{ 'btn-secondary': recruiterActive, 'btn-secondary-outline': recruiterInactive }"
        v-on:click="pressRecruiter">Recruiter</button>
      <!-- <button type="button" class="btn btn-secondary" v-on:click="pressOrganization">Organization</button> -->
    </div>
    <h3 class="h3 mb-3 font-weight-normal">{{ role }}</h3>


    <!-- User Form -->
    <form action="" class="needs-validation" novalidate v-if="role !== ''" @submit.prevent="handleSubmit">

      <div class="mb-3">
        <label for="username">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" id="username" placeholder="Username" required v-model.trim="user.username">
          <div class="invalid-feedback" style="width: 100%;">
            Your username is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com" v-model.trim="user.email">
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model.trim="user.password">
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" v-model.trim="user.password2">
        </div>
      </div>


      <!-- <hr class="mb-4"> -->
      <!-- <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="same-address">
        <label class="custom-control-label" for="same-address">Sign me up for The Daily Huddle Newsletter</label>
      </div> -->
      <hr class="mb-4">


      <!-- <a class="btn white btn-success btn-lg btn-block" :href="username">Submit</a> -->
      <button class="btn white btn-success btn-lg btn-block" type="submit">Submit</button>
    </form>


    <div v-if="role === ''">
      Please select a role from above
    </div>

    <div class="dn">
      {{user}}
    </div>

  </div>
</div>


</template>

<script>
// LIBRARIES
import axios from 'axios'
import Cookies from 'js-cookie'

// COMPONENTS
// import Footer from '~/components/Footer.vue'

export default {
  layout: 'noheader',
  data: function() {
    return {
      role: '',
      athleteActive: true,
      athleteInactive: !this.athleteActive,
      recruiterActive: false,
      recruiterInactive: !this.recruiterActive,
      loading: false,
      user: {
        username: '',
        email: '',
        password: '',
        password2: ''
      },
    }
  },
  methods: {
    pressAthlete: function(){
      // set role && set classes
      this.role = 'Athlete'
      this.athleteActive = true
      this.athleteInactive = false
      this.recruiterActive = false
      this.recruiterInactive = true
    },
    pressRecruiter: function(){
      // set role & set classes
      this.role = 'Recruiter'
      this.athleteActive = false
      this.athleteInactive = true
      this.recruiterActive = true
      this.recruiterInactive = false
    },
    handleSubmit(){
      // handle sign up form submit
      const username = this.user.username
      const email = this.user.email
      const pass1 = this.user.password
      const pass2 = this.user.password2

      // check that pass1 == pass2 or else return
      if( pass1 == pass2 ) {
        // Register User
        axios
          // .post('http://localhost:1337/auth/local/register', {
          .post('http://35.247.72.90:1337/auth/local/register', {
            username: this.user.username,
            email: this.user.email,
            password: this.user.password
          })
          .then(response => {
            // Handle success.
            console.log('Well done!');
            console.log('User profile', response.data.user);
            console.log('User token', response.data.jwt);
            // Extract info.
            const user = response.data.user;
            const jwt = response.data.jwt;
            // Set cookies for after we redirect
            Cookies.set('jwt', jwt, { expires: 90 })
            Cookies.set('tcg-role', this.role, { expires: 90 })
            Cookies.set('tcg-user-id', response.data.user.id, { expires: 90 })
            Cookies.set('tcg-username', response.data.user.username, { expires: 90 })

            // Redirect to onboarding after (Depending on role)
            if (this.role == 'Athlete') {
              // go to athlete onboarding
              this.$router.push('/onboard/athlete')
            } else if (this.role == 'Recruiter') {

              this.$router.push('/onboard/recruiter')
            }
          })
          .catch(error => {
            // Handle error.
            console.log('An error occurred creating your account');

          });
      } else {
        // Passwords dont match
        console.log('Password fields do not match')
        // Visually alert the user that the forms
        alert('Password fields do not match')
      }
    }
  },
  components: {
    // Footer
  }
}
</script>

<style>


.main-div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;

}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>

