<template>
  <section class="col col-lg-7 center">
    <form class="border border-light p-5" novalidate @submit.prevent="handleSubmit">

      <div class="text-center">
        <h4 class="">Onboarding</h4>
        <p>Just a few more steps and your ready to be a part of the group.</p>
      </div>

      <!-- 1. First Name, Last Name -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" class="form-control mb-4" placeholder="First Name" required v-model.trim="firstName">
        </div>
        <div class="form-group col-md-6">
          <label for="last-name">Last Name</label>
          <input type="email" id="last-name" class="form-control mb-4" placeholder="Last Name" required v-model.trim="lastName">
        </div>
      </div>

      <!-- 2. DOB/Height/Weight -->
      <!-- TODO - add in DOB picker (https://edisdev.github.io/vue-datepicker-ui/) -->
      <div class="form-row center">
        <div class="form-group col-md-4">
          <label for="dateOfBirth">Date of Birth</label>
          <datepicker v-model="dateOfBirth"></datepicker>
          <!-- <input type="text" id="dateOfBirth" class="form-control mb-4" placeholder="Date of Birth" required v-model.trim="dateOfBirth"> -->
        </div>
        <div class="form-group col-md-2">
          <label for="sex">Sex</label>
          <select class="browser-default custom-select mb-4" id="sex" required v-model.trim="sex">
              <option value="" disabled="" selected="">Sex</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
          </select>
          <!-- <input type="text" id="grade" class="form-control mb-4" placeholder="grade" required v-model.trim="grade"> -->
        </div>
        <div class="form-group col-md-6">
          <label for="grade">Grade</label>
          <select class="browser-default custom-select mb-4" id="grade" required v-model.trim="grade">
              <option value="" disabled="" selected="">Sport</option>
              <option value="9th Grade">9th Grade</option>
              <option value="10th Grade">10th Grade</option>
              <option value="11th Grade">11th Grade</option>
              <option value="12th Grade">12th Grade</option>
              <option value="College Freshman">College Freshman</option>
              <option value="College Sophomore">College Sophomore</option>
              <option value="College Junior">College Junior</option>
              <option value="College Senior">College Senior</option>
          </select>
          <!-- <input type="text" id="grade" class="form-control mb-4" placeholder="grade" required v-model.trim="grade"> -->
        </div>
      </div>
      <div class="form-row center">
        <div class="form-group col-md-4 center">
          <label for="height">Height</label>
          <div class="input-group mb-3">
            <input type="number" id="height" class="form-control" placeholder="" required v-model.trim="height">
            <div class="input-group-append">
              <span class="input-group-text" id="">inches</span>
            </div>
          </div>
          <!-- <input type="text" id="height" class="form-control mb-4" placeholder="Height" required v-model.trim="height"> -->
        </div>

        <div class="form-group col-md-4 center">
          <label for="height">Weight</label>
          <div class="input-group mb-3">
            <input type="number" id="weight" class="form-control" placeholder="" required v-model.trim="weight">
            <div class="input-group-append">
              <span class="input-group-text" id="">lbs</span>
            </div>
          </div>
          <!-- <input type="text" id="height" class="form-control mb-4" placeholder="Height" required v-model.trim="height"> -->
        </div>
      </div>

      <!-- 3. Sport -->
      <div class="form-row">
        <div class="form-group col-md-6 center">
          <label for="sport">Sport</label>
          <select class="browser-default custom-select mb-4" id="sport" required v-model.trim="sport">
              <option value="" disabled="" selected="">Sport</option>
              <option value="Football">Football</option>
              <option value="Basketball">Basketball</option>
              <option value="Baseball">Baseball</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <!-- 4. Position (based on Sport display the appropriate position) -->
        <!-- a. Football -->
        <div class="form-group col-md-6 center" v-show="sport === 'Football'">
          <label class="center" for="position">Position</label>
          <select class="browser-default custom-select mb-4" id="position" required v-model.trim="position">
              <option value="" disabled="" selected="">Position</option>
              <option value="Center">Center</option>
              <option value="Offensive Guard">Offensive Guard</option>
              <option value="Offensive Tackle">Offensive Tackle</option>
              <option value="Offensive Tackle">Offensive Tackle</option>
              <option value="Quarterback">Quarterback</option>
              <option value="Running Back">Running Back</option>
              <option value="Full Back">Full Back</option>
              <option value="Wide Reciever">Wide Reciever</option>
              <option value="Tight End">Tight End</option>
              <option value="Defensive Tackle">Defensive Tackle</option>
              <option value="Defensive End">Defensive End</option>
              <option value="Middle Linebacker">Middle Linebacker</option>
              <option value="Outside Linebacker">Outside Linebacker</option>
              <option value="Cornerback">Cornerback</option>
              <option value="Safety">Safety</option>
              <option value="Kicker">Kicker</option>
              <option value="Punter">Punter</option>
          </select>
        </div>
        <!-- b. Basketball -->
        <div class="form-group col-md-6 center" v-show="sport === 'Basketball'">
          <label class="center" for="position">Position</label>
          <select class="browser-default custom-select mb-4" id="position" required v-model.trim="position">
              <option value="" disabled="" selected="">Position</option>
              <option value="Point Guard">Point Guard</option>
              <option value="Shooting Guard">Shooting Guard</option>
              <option value="Small Forward">Small Forward</option>
              <option value="Power Forward">Power Forward</option>
              <option value="Center">Center</option>
          </select>
        </div>
        <!-- c. Baseball -->
        <div class="form-group col-md-6 center" v-show="sport === 'Baseball'">
          <label class="center" for="position">Position</label>
          <select class="browser-default custom-select mb-4" id="position" required v-model.trim="position">
              <option value="" disabled="" selected="">Position</option>
              <option value="Pitcher">Pitcher</option>
              <option value="Catcher">Catcher</option>
              <option value="First Base">First Base</option>
              <option value="Second Base">Second Base</option>
              <option value="Third Base">Third Base</option>
              <option value="Shortstop">Shortstop</option>
              <option value="Left Field">Left Field</option>
              <option value="Center Field">Center Field</option>
              <option value="Right Field">Right Field</option>
              <option value="Designated Hitter">Designated Hitter</option>
              <option value="Relief Pitcher">Relief Pitcher</option>
              <option value="Closing Pitcher">Closing Pitcher</option>
          </select>
        </div>
        <!-- d. Empty State  (has 'dn' class -> "display:none") -->
        <div class="form-group col-md-6 dn center" v-show="sport === ''">
          <label class="center" for="position">Position</label>
          <select class="browser-default custom-select mb-4" id="position" required v-model.trim="position">
              <option value="" disabled="" selected="">Choose your Position</option>
              <option value="Pitcher">Pitcher</option>
              <option value="Catcher">Catcher</option>
              <option value="First Base">First Base</option>
              <option value="Second Base">Second Base</option>
              <option value="Third Base">Third Base</option>
              <option value="Shortstop">Shortstop</option>
              <option value="Left Field">Left Field</option>
              <option value="Center Field">Center Field</option>
              <option value="Right Field">Right Field</option>
              <option value="Designated Hitter">Designated Hitter</option>
              <option value="Relief Pitcher">Relief Pitcher</option>
              <option value="Closing Pitcher">Closing Pitcher</option>
          </select>
        </div>

      </div>

      <!-- 4. Submit Form -->
      <div class="form-row">
        <div class="form-group col-md-6 center">
          <button class="btn btn-success btn-block" type="submit">Next</button>
        </div>
      </div>

    </form>
  </section>
</template>

<script>
import axios from 'axios'
import Cookies from 'js-cookie'
import Datepicker from 'vuejs-datepicker';


export default {
  layout: 'onboarding',
  components: {
    Datepicker,
  },
  data: function() {
    return {
      firstName: '',
      lastName: '',
      dateOfBirth: '',
      sex: '',
      grade: '',
      height: '',
      weight: '',
      sport: '',
      position: '',
    }
  },
  methods: {
    handleSubmit(){
      // get the current user Id
      const userId = Cookies.get('tcg-user-id')

      // DEBUG that we have correct data
      // const athleteData = {
      //   data: this.athlete
      // }
      // alert(JSON.stringify(athleteData.data));

      // CREATE REQUEST (/athletes) -->
      axios
        // .post(`http://35.247.72.90:1337/athletes/`, {
        .post(`http://localhost:1337/athletes/`, {
          userID: userId,
          firstName: this.firstName,
          lastName: this.lastName,
          dateOfBirth: this.dateOfBirth,
          sex: this.sex,
          grade: this.grade,
          height: this.height,
          weight: this.weight,
          sport: this.sport,
          position: this.position,
        })
        .then(response => {
          // Handle success.
          console.log(
            'Well done, the athlete has been successfully updated: ',
            response.data
          );

          // route to the photo page to update profile photo
          this.$router.push('/onboard/photo')
        })
        .catch(error => {
          // Handle error.
          alert('An error occurred updating the athlete:', error);
        });



    },
  }
}
</script>

<style>

</style>
