<template>
  <section class="vh-100">
    <div class="tc">
      <h1 class="mt4">Upload a profile photo</h1>

      <!-- Profile  -->
      <div class="tc pa4 mt4 mb4 center">
        <img :src="imageSrc" class="br-100 pa1 ba b--black-10" alt="avatar" style="height:8rem;width:8rem;">
      </div>

      <!-- Click to upload button -->
      <div class="col-4 center">
        <!-- Upload Image Form -->
          <input type="file" v-bind="thumb.url" class="form-control" v-on:change="upload($event.target.files)" accept="image/*" />
          <a class="mt4 btn btn-success text-white" href="/dashboard" v-if="canRouteToDashboard">Proceed to Dashboard</a>
        <!-- </form> -->
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import Cookies from 'js-cookie'
import Strapi from 'strapi-sdk-javascript';

// const BASE_URL = "http://35.247.72.90:1337/"
// const BASE_URL = "http://localhost:1337"

// const strapi = new Strapi(BASE_URL);


export default {
  layout: 'onboarding',
  components: {
  },
  data() {
    return {
      canRouteToDashboard: false,
      imageSrc: 'http://tachyons.io/img/logo.jpg', // default from tachyons
      fileName: 'Choose File',
      formData: null,
      cloudinary: {
        uploadPreset: 'kwwpa7wv',
        apiKey: '222415749877572',
        cloudName: 'represent-hub'
      },
      thumb: {
        url: ''
      },
      thumbs: []
    }
  },
  computed: {
    clUrl: function() {
        return `https://api.cloudinary.com/v1_1/${this.cloudinary.cloudName}/upload`
        },
  },
  methods: {
    upload: function(file) {
      const formData = new FormData()
      formData.append('file', file[0]);
      formData.append('upload_preset', this.cloudinary.uploadPreset);
      formData.append('tags', 'gs-vue,gs-vue-uploaded');
      // For debug purpose only
      // Inspects the content of formData
      for(var pair of formData.entries()) {
        console.log(pair[0]+', '+pair[1]);
      }
      axios.post(this.clUrl, formData)
        .then(res => {
          // from boilerplate code
          this.thumbs.unshift({
            url: res.data.secure_url
          })

          // set new image url
          this.imageSrc = res.data.secure_url

          // set a cookie with image url
          Cookies.set('tcg-user-avatar', this.imageSrc, { expires: 90 })

          // alert(`UPLOADED! See image @ ${this.imageSrc}`)

          // show button to route to dashboard
          this.canRouteToDashboard = true
      })
    },
  }
}
</script>

<style scoped>
.square {
  height: 200px;
  width: 200px;
  background-color: #555;
}
</style>
