<template>
  <section class="col col-lg-7 center">
    <form class="border border-light p-5" novalidate @submit.prevent="handleSubmit">

      <div class="text-center">
        <h4 class="">Onboarding</h4>
        <p>Just a few more steps and your ready to be a part of the group.</p>
      </div>

      <!-- 1. First Name, Last Name -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" class="form-control mb-4" placeholder="First Name" required v-model.trim="recruiter.firstName">
        </div>

        <div class="form-group col-md-6">
          <label for="last-name">Last Name</label>
          <input type="email" id="last-name" class="form-control mb-4" placeholder="Last Name" required v-model.trim="recruiter.lastName">
        </div>
      </div>

      <!-- 2. Title/Organization -->
      <!-- TODO - add in DOB picker (https://edisdev.github.io/vue-datepicker-ui/) -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="title">Title</label>
          <select class="browser-default custom-select mb-4" id="title" required v-model.trim="recruiter.title">
              <option value="" disabled="" selected="">Title</option>
              <option value="Football">Athletic Director</option>
              <option value="Basketball">Coach</option>
              <option value="Baseball">Scout</option>
              <option value="Baseball">Agent</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="organization">Organization</label>
          <input type="email" id="organization" class="form-control mb-4" placeholder="Organization" required v-model.trim="recruiter.organization">
        </div>
      </div>

      <!-- 3. Sport -->
      <div class="form-row">
        <div class="form-group col-md-6 center">
          <label for="sport">Sport</label>
          <select class="browser-default custom-select mb-4" id="sport" required v-model.trim="recruiter.sport">
              <option value="" disabled="" selected="">Sport</option>
              <option value="Football">Football</option>
              <option value="Basketball">Basketball</option>
              <option value="Baseball">Baseball</option>
          </select>
        </div>

      </div>

      <!-- 5. Submit Form -->
      <div class="form-row">
        <div class="form-group col-md-6 center">
          <button class="btn btn-success btn-block" type="submit">Finish</button>
        </div>
      </div>

    </form>
  </section>
</template>

<script>
import axios from 'axios'
import Cookies from 'js-cookie'


export default {
  layout: 'onboarding',
  components: {
    //
  },
  data: function() {
    return {
      recruiter: {
        firstName: '',
        lastName: '',
        organization: '',
        title: '',
        sport: '',
      }
    }
  },
  methods: {
    handleSubmit(){
      // get the current user Id
      const userId = Cookies.get('tcg-user-id')

      // DEBUG: the
      // const recruiterData = {
      //   data: this.recruiter
      // }
      // alert(JSON.stringify(recruiterData.data));

      // CREATE REQUEST (/recruiters) -->
      axios
        .post(`http://35.247.72.90:1337/recruiters/`, {
        //.post(`http://localhost:1337/recruiters/`, {
          userID: userId,
          firstName: this.firstName,
          lastName: this.lastName,
          organization: this.organization,
          title: this.title,
          sport: this.sport,
        })
        .then(response => {
          // Handle success.
          console.log(
            'Well done, the recruiter has been successfully updated: ',
            response.data
          );

          // route to the photo page to update profile photo
          this.$router.push('/onboard/photo')
        })
        .catch(error => {
          // Handle error.
          alert('An error occurred updating the recruiter:', error);
        });


    }
  }
}
</script>

<style>

</style>
