// HTML
<template>

  <!-- ATHLETE DASHBOARD (PROFILE, STATS, MSGS, OFFERS, TIPS) -->
  <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <div>
          <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
          <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
          <link rel="stylesheet" href="assets/libs/css/style.css">
          <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
          <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
          <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
          <link rel="stylesheet" href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
          <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
          <link rel="stylesheet" href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
        </div>
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">
                <svg width="212" height="33" viewBox="0 0 212 69" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.22254 27.343L11.657 29.7775C11.9538 30.0742 12.4326 30.0742 12.7293 29.7775L16 26.5068L19.2708 29.7775C19.5674 30.0742 20.0463 30.0742 20.3429 29.7775L22.7775 27.343C23.0742 27.0462 23.0742 26.5674 22.7775 26.2707L19.5068 23L22.7775 19.7293C23.0742 19.4326 23.0742 18.9538 22.7775 18.657L20.3429 16.2225C20.0463 15.9258 19.5674 15.9258 19.2708 16.2225L16 19.4933L12.7293 16.2225C12.4326 15.9258 11.9538 15.9258 11.657 16.2225L9.22254 18.657C8.92582 18.9538 8.92582 19.4326 9.22254 19.7293L12.4933 23L9.22254 26.2707C8.92582 26.5674 8.92582 27.0462 9.22254 27.343Z" fill="#222222"/>
<path d="M43.6558 36.2225L41.2224 38.657C40.9259 38.9538 40.9259 39.4326 41.2224 39.7293L44.4916 43L41.2224 46.2708C40.9259 46.5674 40.9259 47.0463 41.2224 47.3429L43.6558 49.7775C43.9523 50.0742 44.4309 50.0742 44.7275 49.7775L47.9966 46.5068L51.2658 49.7775C51.5623 50.0742 52.0409 50.0742 52.3374 49.7775L54.7708 47.3429C55.0673 47.0463 55.0673 46.5674 54.7708 46.2708L51.5084 43L54.7776 39.7293C55.0741 39.4326 55.0741 38.9538 54.7776 38.657L52.3442 36.2225C52.0477 35.9258 51.5691 35.9258 51.2725 36.2225L48.0034 39.4933L44.7342 36.2225C44.4309 35.9258 43.9523 35.9258 43.6558 36.2225Z" fill="#222222"/>
<path d="M27 69C31.9706 69 36 64.9706 36 60C36 55.0294 31.9706 51 27 51C22.0294 51 18 55.0294 18 60C18 64.9706 22.0294 69 27 69Z" fill="#222222"/>
<path d="M54 23C58.9706 23 63 18.9706 63 14C63 9.02944 58.9706 5 54 5C49.0294 5 45 9.02944 45 14C45 18.9706 49.0294 23 54 23Z" fill="#222222"/>
<path d="M32.2064 32.4191C30.2708 35.1718 28.6613 38.0791 27.4206 41.0565C25.3006 46.1687 25.017 49.7219 25.0029 49.8694C24.9602 50.4523 25.3999 50.9579 25.9813 51C26.0096 51 26.038 51 26.0593 51C26.6123 51 27.0802 50.5787 27.1157 50.0239C27.1157 49.9888 27.3851 46.6603 29.3774 41.857C30.5544 39.013 32.0858 36.2463 33.9363 33.6199C36.0775 30.5793 38.6512 27.7353 41.5865 25.1441L42.9053 26.7733L44.9542 21.5557C45.096 21.1976 44.8975 20.9518 44.5076 21.008L38.9419 21.8647L40.2677 23.5009C37.1694 26.2185 34.461 29.2169 32.2064 32.4191Z" fill="#222222"/>
<path d="M0.0765335 26.0677C0.423029 31.2329 1.92451 36.272 4.53037 41.0382C8.96984 49.1358 15.0118 53.6081 15.2645 53.79C15.4594 53.93 15.6904 54 15.9142 54C16.239 54 16.5639 53.853 16.7804 53.5801C17.1413 53.1181 17.0475 52.4603 16.5711 52.1103C16.5133 52.0683 10.6085 47.687 6.40722 39.9744C3.95288 35.4741 2.55253 30.7289 2.23484 25.8717C1.85947 20.0837 3.03618 14.0857 5.73588 8.05271L7.65612 8.98355L7.30955 3.41248C7.28789 3.02754 6.99915 2.88756 6.66716 3.09753L1.85947 6.17002L3.79414 7.10786C0.913897 13.5117 -0.33493 19.8807 0.0765335 26.0677Z" fill="#222222"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M131.176 18H127.288C126.984 18 126.764 17.932 126.628 17.796C126.492 17.66 126.424 17.44 126.424 17.136V5.352H122.896C122.592 5.352 122.372 5.284 122.236 5.148C122.1 5.012 122.032 4.792 122.032 4.488V1.584C122.032 1.28 122.1 1.06 122.236 0.924001C122.372 0.788001 122.592 0.720001 122.896 0.720001H135.568C135.872 0.720001 136.092 0.788001 136.228 0.924001C136.364 1.06 136.432 1.28 136.432 1.584V4.488C136.432 4.792 136.364 5.012 136.228 5.148C136.092 5.284 135.872 5.352 135.568 5.352H132.04V17.136C132.04 17.44 131.972 17.66 131.836 17.796C131.7 17.932 131.48 18 131.176 18ZM145.219 18H141.499C141.195 18 140.975 17.932 140.839 17.796C140.703 17.66 140.635 17.44 140.635 17.136V1.584C140.635 1.28 140.703 1.06 140.839 0.924001C140.975 0.788001 141.195 0.720001 141.499 0.720001H145.219C145.523 0.720001 145.743 0.788001 145.879 0.924001C146.015 1.06 146.083 1.28 146.083 1.584V6.792H150.091V1.584C150.091 1.28 150.159 1.06 150.295 0.924001C150.431 0.788001 150.651 0.720001 150.955 0.720001H154.675C154.979 0.720001 155.199 0.788001 155.335 0.924001C155.471 1.06 155.539 1.28 155.539 1.584V17.136C155.539 17.44 155.471 17.66 155.335 17.796C155.199 17.932 154.979 18 154.675 18H150.955C150.651 18 150.431 17.932 150.295 17.796C150.159 17.66 150.091 17.44 150.091 17.136V11.808H146.083V17.136C146.083 17.44 146.015 17.66 145.879 17.796C145.743 17.932 145.523 18 145.219 18ZM172.726 18H161.59C161.286 18 161.066 17.932 160.93 17.796C160.794 17.66 160.726 17.44 160.726 17.136V1.584C160.726 1.28 160.794 1.06 160.93 0.924001C161.066 0.788001 161.286 0.720001 161.59 0.720001H172.726C173.03 0.720001 173.25 0.788001 173.386 0.924001C173.522 1.06 173.59 1.28 173.59 1.584V4.392C173.59 4.696 173.522 4.916 173.386 5.052C173.25 5.188 173.03 5.256 172.726 5.256H166.102V7.104H170.782C171.086 7.104 171.306 7.172 171.442 7.308C171.578 7.444 171.646 7.664 171.646 7.968V10.536C171.646 10.84 171.578 11.06 171.442 11.196C171.306 11.332 171.086 11.4 170.782 11.4H166.102V13.464H172.726C173.03 13.464 173.25 13.532 173.386 13.668C173.522 13.804 173.59 14.024 173.59 14.328V17.136C173.59 17.44 173.522 17.66 173.386 17.796C173.25 17.932 173.03 18 172.726 18ZM96.2375 42H90.3815C88.3815 42 86.8975 41.6 85.9295 40.8C84.9615 40 84.4775 38.768 84.4775 37.104V29.64C84.4775 27.976 84.9615 26.74 85.9295 25.932C86.8975 25.124 88.3815 24.72 90.3815 24.72H96.2375C96.5415 24.72 96.7615 24.788 96.8975 24.924C97.0335 25.06 97.1015 25.28 97.1015 25.584V28.488C97.1015 28.792 97.0335 29.012 96.8975 29.148C96.7615 29.284 96.5415 29.352 96.2375 29.352H91.4135C90.9175 29.352 90.5495 29.452 90.3095 29.652C90.0695 29.852 89.9495 30.152 89.9495 30.552V36.264C89.9495 36.664 90.0695 36.956 90.3095 37.14C90.5495 37.324 90.9175 37.416 91.4135 37.416H96.2375C96.5415 37.416 96.7615 37.484 96.8975 37.62C97.0335 37.756 97.1015 37.976 97.1015 38.28V41.136C97.1015 41.44 97.0335 41.66 96.8975 41.796C96.7615 41.932 96.5415 42 96.2375 42ZM116.209 37.464C116.209 38.2 116.101 38.868 115.885 39.468C115.669 40.068 115.285 40.58 114.733 41.004C114.181 41.428 113.421 41.76 112.453 42C111.485 42.24 110.257 42.36 108.769 42.36C107.281 42.36 106.049 42.24 105.073 42C104.097 41.76 103.333 41.428 102.781 41.004C102.229 40.58 101.845 40.068 101.629 39.468C101.413 38.868 101.305 38.2 101.305 37.464V29.28C101.305 28.544 101.413 27.876 101.629 27.276C101.845 26.676 102.229 26.16 102.781 25.728C103.333 25.296 104.097 24.96 105.073 24.72C106.049 24.48 107.281 24.36 108.769 24.36C110.257 24.36 111.485 24.48 112.453 24.72C113.421 24.96 114.181 25.296 114.733 25.728C115.285 26.16 115.669 26.676 115.885 27.276C116.101 27.876 116.209 28.544 116.209 29.28V37.464ZM106.753 36.6C106.753 36.92 106.873 37.188 107.113 37.404C107.353 37.62 107.905 37.728 108.769 37.728C109.633 37.728 110.185 37.62 110.425 37.404C110.665 37.188 110.785 36.92 110.785 36.6V30.144C110.785 29.84 110.665 29.58 110.425 29.364C110.185 29.148 109.633 29.04 108.769 29.04C107.905 29.04 107.353 29.148 107.113 29.364C106.873 29.58 106.753 29.84 106.753 30.144V36.6ZM125.572 42H121.996C121.692 42 121.472 41.932 121.336 41.796C121.2 41.66 121.132 41.44 121.132 41.136V25.584C121.132 25.28 121.2 25.06 121.336 24.924C121.472 24.788 121.692 24.72 121.996 24.72H125.86C126.116 24.72 126.328 24.776 126.496 24.888C126.664 25 126.82 25.184 126.964 25.44L129.124 29.352C129.204 29.496 129.272 29.6 129.328 29.664C129.384 29.728 129.46 29.76 129.556 29.76H129.772C129.868 29.76 129.944 29.728 130 29.664C130.056 29.6 130.124 29.496 130.204 29.352L132.34 25.44C132.484 25.184 132.64 25 132.808 24.888C132.976 24.776 133.188 24.72 133.444 24.72H137.332C137.636 24.72 137.856 24.788 137.992 24.924C138.128 25.06 138.196 25.28 138.196 25.584V41.136C138.196 41.44 138.128 41.66 137.992 41.796C137.856 41.932 137.636 42 137.332 42H133.636C133.332 42 133.112 41.932 132.976 41.796C132.84 41.66 132.772 41.44 132.772 41.136V32.688L131.356 35.304C131.212 35.576 131.04 35.772 130.84 35.892C130.64 36.012 130.388 36.072 130.084 36.072H129.124C128.82 36.072 128.568 36.012 128.368 35.892C128.168 35.772 127.996 35.576 127.852 35.304L126.436 32.688V41.136C126.436 41.44 126.368 41.66 126.232 41.796C126.096 41.932 125.876 42 125.572 42ZM153.463 42H144.247C143.943 42 143.723 41.932 143.587 41.796C143.451 41.66 143.383 41.44 143.383 41.136V25.584C143.383 25.28 143.451 25.06 143.587 24.924C143.723 24.788 143.943 24.72 144.247 24.72H151.903C153.471 24.72 154.631 25.02 155.383 25.62C156.135 26.22 156.511 27.144 156.511 28.392V29.544C156.511 30.216 156.395 30.764 156.163 31.188C155.931 31.612 155.575 31.928 155.095 32.136C156.119 32.232 156.879 32.584 157.375 33.192C157.871 33.8 158.119 34.688 158.119 35.856V38.064C158.119 39.408 157.739 40.4 156.979 41.04C156.219 41.68 155.047 42 153.463 42ZM148.783 28.8V31.392H150.823C151.127 31.392 151.355 31.312 151.507 31.152C151.659 30.992 151.735 30.752 151.735 30.432V29.76C151.735 29.44 151.659 29.2 151.507 29.04C151.355 28.88 151.127 28.8 150.823 28.8H148.783ZM148.783 35.088V37.92H151.903C152.207 37.92 152.435 37.84 152.587 37.68C152.739 37.52 152.815 37.28 152.815 36.96V36.024C152.815 35.704 152.739 35.468 152.587 35.316C152.435 35.164 152.207 35.088 151.903 35.088H148.783ZM163.138 42C162.834 42 162.614 41.932 162.478 41.796C162.342 41.66 162.274 41.44 162.274 41.136V38.28C162.274 37.976 162.342 37.756 162.478 37.62C162.614 37.484 162.834 37.416 163.138 37.416H165.514V29.352H163.138C162.834 29.352 162.614 29.284 162.478 29.148C162.342 29.012 162.274 28.792 162.274 28.488V25.584C162.274 25.28 162.342 25.06 162.478 24.924C162.614 24.788 162.834 24.72 163.138 24.72H173.362C173.666 24.72 173.886 24.788 174.022 24.924C174.158 25.06 174.226 25.28 174.226 25.584V28.488C174.226 28.792 174.158 29.012 174.022 29.148C173.886 29.284 173.666 29.352 173.362 29.352H171.034V37.416H173.362C173.666 37.416 173.886 37.484 174.022 37.62C174.158 37.756 174.226 37.976 174.226 38.28V41.136C174.226 41.44 174.158 41.66 174.022 41.796C173.886 41.932 173.666 42 173.362 42H163.138ZM183.517 42H179.917C179.613 42 179.393 41.932 179.257 41.796C179.121 41.66 179.053 41.44 179.053 41.136V25.584C179.053 25.28 179.121 25.06 179.257 24.924C179.393 24.788 179.613 24.72 179.917 24.72H182.413C182.717 24.72 182.977 24.768 183.193 24.864C183.409 24.96 183.621 25.128 183.829 25.368L188.485 30.696V25.584C188.485 25.28 188.553 25.06 188.689 24.924C188.825 24.788 189.045 24.72 189.349 24.72H192.949C193.253 24.72 193.473 24.788 193.609 24.924C193.745 25.06 193.813 25.28 193.813 25.584V41.136C193.813 41.44 193.745 41.66 193.609 41.796C193.473 41.932 193.253 42 192.949 42H189.349C189.045 42 188.825 41.932 188.689 41.796C188.553 41.66 188.485 41.44 188.485 41.136V38.184L184.381 33.216V41.136C184.381 41.44 184.313 41.66 184.177 41.796C184.041 41.932 183.821 42 183.517 42ZM211 42H199.864C199.56 42 199.34 41.932 199.204 41.796C199.068 41.66 199 41.44 199 41.136V25.584C199 25.28 199.068 25.06 199.204 24.924C199.34 24.788 199.56 24.72 199.864 24.72H211C211.304 24.72 211.524 24.788 211.66 24.924C211.796 25.06 211.864 25.28 211.864 25.584V28.392C211.864 28.696 211.796 28.916 211.66 29.052C211.524 29.188 211.304 29.256 211 29.256H204.376V31.104H209.056C209.36 31.104 209.58 31.172 209.716 31.308C209.852 31.444 209.92 31.664 209.92 31.968V34.536C209.92 34.84 209.852 35.06 209.716 35.196C209.58 35.332 209.36 35.4 209.056 35.4H204.376V37.464H211C211.304 37.464 211.524 37.532 211.66 37.668C211.796 37.804 211.864 38.024 211.864 38.328V41.136C211.864 41.44 211.796 41.66 211.66 41.796C211.524 41.932 211.304 42 211 42ZM115.837 66H108.277C106.277 66 104.793 65.6 103.825 64.8C102.857 64 102.373 62.768 102.373 61.104V53.616C102.373 51.952 102.857 50.72 103.825 49.92C104.793 49.12 106.277 48.72 108.277 48.72H114.277C114.581 48.72 114.801 48.788 114.937 48.924C115.073 49.06 115.141 49.28 115.141 49.584V52.488C115.141 52.792 115.073 53.012 114.937 53.148C114.801 53.284 114.581 53.352 114.277 53.352H109.285C108.789 53.352 108.421 53.452 108.181 53.652C107.941 53.852 107.821 54.152 107.821 54.552V60.288C107.821 60.688 107.913 60.984 108.097 61.176C108.281 61.368 108.557 61.464 108.925 61.464H111.253V57.72C111.253 57.416 111.321 57.196 111.457 57.06C111.593 56.924 111.813 56.856 112.117 56.856H115.837C116.141 56.856 116.361 56.924 116.497 57.06C116.633 57.196 116.701 57.416 116.701 57.72V65.136C116.701 65.44 116.633 65.66 116.497 65.796C116.361 65.932 116.141 66 115.837 66ZM126.928 53.04V56.112H128.728C129.144 56.112 129.424 56.004 129.568 55.788C129.712 55.572 129.784 55.304 129.784 54.984V54.168C129.784 53.848 129.712 53.58 129.568 53.364C129.424 53.148 129.144 53.04 128.728 53.04H126.928ZM126.064 66H122.368C122.064 66 121.844 65.932 121.708 65.796C121.572 65.66 121.504 65.44 121.504 65.136V49.584C121.504 49.28 121.572 49.06 121.708 48.924C121.844 48.788 122.064 48.72 122.368 48.72H130.36C132.152 48.72 133.388 49.092 134.068 49.836C134.748 50.58 135.088 51.544 135.088 52.728V53.832C135.088 54.504 134.988 55.076 134.788 55.548C134.588 56.02 134.24 56.36 133.744 56.568C134.608 56.664 135.308 57.016 135.844 57.624C136.38 58.232 136.648 59.04 136.648 60.048V65.136C136.648 65.44 136.58 65.66 136.444 65.796C136.308 65.932 136.088 66 135.784 66H132.064C131.76 66 131.54 65.932 131.404 65.796C131.268 65.66 131.2 65.44 131.2 65.136V61.464C131.2 61.112 131.132 60.852 130.996 60.684C130.86 60.516 130.624 60.432 130.288 60.432H126.928V65.136C126.928 65.44 126.86 65.66 126.724 65.796C126.588 65.932 126.368 66 126.064 66ZM155.731 61.464C155.731 62.2 155.623 62.868 155.407 63.468C155.191 64.068 154.807 64.58 154.255 65.004C153.703 65.428 152.943 65.76 151.975 66C151.007 66.24 149.779 66.36 148.291 66.36C146.803 66.36 145.571 66.24 144.595 66C143.619 65.76 142.855 65.428 142.303 65.004C141.751 64.58 141.367 64.068 141.151 63.468C140.935 62.868 140.827 62.2 140.827 61.464V53.28C140.827 52.544 140.935 51.876 141.151 51.276C141.367 50.676 141.751 50.16 142.303 49.728C142.855 49.296 143.619 48.96 144.595 48.72C145.571 48.48 146.803 48.36 148.291 48.36C149.779 48.36 151.007 48.48 151.975 48.72C152.943 48.96 153.703 49.296 154.255 49.728C154.807 50.16 155.191 50.676 155.407 51.276C155.623 51.876 155.731 52.544 155.731 53.28V61.464ZM146.275 60.6C146.275 60.92 146.395 61.188 146.635 61.404C146.875 61.62 147.427 61.728 148.291 61.728C149.155 61.728 149.707 61.62 149.947 61.404C150.187 61.188 150.307 60.92 150.307 60.6V54.144C150.307 53.84 150.187 53.58 149.947 53.364C149.707 53.148 149.155 53.04 148.291 53.04C147.427 53.04 146.875 53.148 146.635 53.364C146.395 53.58 146.275 53.84 146.275 54.144V60.6ZM175.366 61.464C175.366 62.2 175.258 62.868 175.042 63.468C174.826 64.068 174.442 64.58 173.89 65.004C173.338 65.428 172.582 65.76 171.622 66C170.662 66.24 169.438 66.36 167.95 66.36C166.462 66.36 165.238 66.24 164.278 66C163.318 65.76 162.562 65.428 162.01 65.004C161.458 64.58 161.074 64.068 160.858 63.468C160.642 62.868 160.534 62.2 160.534 61.464V49.584C160.534 49.28 160.602 49.06 160.738 48.924C160.874 48.788 161.094 48.72 161.398 48.72H165.166C165.47 48.72 165.69 48.788 165.826 48.924C165.962 49.06 166.03 49.28 166.03 49.584V60.528C166.03 60.848 166.15 61.116 166.39 61.332C166.63 61.548 167.166 61.656 167.998 61.656C168.846 61.656 169.39 61.548 169.63 61.332C169.87 61.116 169.99 60.848 169.99 60.528V49.584C169.99 49.28 170.058 49.06 170.194 48.924C170.33 48.788 170.55 48.72 170.854 48.72H174.502C174.806 48.72 175.026 48.788 175.162 48.924C175.298 49.06 175.366 49.28 175.366 49.584V61.464ZM185.017 66H181.297C180.993 66 180.773 65.932 180.637 65.796C180.501 65.66 180.433 65.44 180.433 65.136V49.584C180.433 49.28 180.501 49.06 180.637 48.924C180.773 48.788 180.993 48.72 181.297 48.72H188.641C190.817 48.72 192.305 49.152 193.105 50.016C193.905 50.88 194.305 52.008 194.305 53.4V56.472C194.305 57.864 193.905 58.992 193.105 59.856C192.305 60.72 190.817 61.152 188.641 61.152H185.881V65.136C185.881 65.44 185.813 65.66 185.677 65.796C185.541 65.932 185.321 66 185.017 66ZM185.833 53.208V56.832H187.993C188.457 56.832 188.761 56.712 188.905 56.472C189.049 56.232 189.121 55.96 189.121 55.656V54.384C189.121 54.08 189.049 53.808 188.905 53.568C188.761 53.328 188.457 53.208 187.993 53.208H185.833Z" fill="#222222"/>
</svg>

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <!-- <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li> -->
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="/dashboard/notifications">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/github.png" alt="" > <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/dribbble.png" alt="" > <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/dropbox.png" alt="" > <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/mail_chimp.png" alt="" ><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/slack.png" alt="" > <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{username}}</h5>
                                    <span class="status"></span><span class="ml-2">Online</span>
                                </div>
                                <a class="dropdown-item" href="/profile"><i class="fas fa-user mr-2"></i>My Profile</a>
                                <a class="dropdown-item" href="/dashboard/settings"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="/logout"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="/dashboard">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/dashboard" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">E-Commerce</a>
                                            <div id="submenu-1-2" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="index.html">E Commerce Dashboard</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product.html">Product List</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product-single.html">Product Single</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product-checkout.html">Product Checkout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="dashboard-finance.html">Finance</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="dashboard-sales.html">Sales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1" aria-controls="submenu-1-1">Infulencer</a>
                                            <div id="submenu-1-1" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="dashboard-influencer.html">Influencer</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="influencer-finder.html">Influencer Finder</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="influencer-profile.html">Influencer Profile</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>UI Elements</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/cards.html">Cards <span class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/general.html">General</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/carousel.html">Carousel</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/listgroup.html">List Group</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/typography.html">Typography</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/accordions.html">Accordions</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/tabs.html">Tabs</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Chart</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-c3.html">C3 Charts</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-chartist.html">Chartist Charts</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-charts.html">Chart</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-morris.html">Morris</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-sparkline.html">Sparkline</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-gauge.html">Guage</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Forms</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/form-elements.html">Form Elements</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/form-validation.html">Parsely Validations</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/multiselect.html">Multiselect</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/datepicker.html">Date Picker</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/bootstrap-select.html">Bootstrap Select</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Tables</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/general-table.html">General Tables</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/data-tables.html">Data Tables</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- <li class="nav-divider">
                                Features
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i> Pages </a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/blank-page.html">Blank Page</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/blank-page-header.html">Blank Page Header</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/login.html">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/404-page.html">404 page</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/sign-up.html">Sign up Page</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/forgot-password.html">Forgot Password</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/pricing.html">Pricing Tables</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/timeline.html">Timeline</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/calendar.html">Calendar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/sortable-nestable-lists.html">Sortable/Nestable List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/widgets.html">Widgets</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/media-object.html">Media Objects</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/cropper-image.html">Cropper</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/color-picker.html">Color Picker</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Apps <span class="badge badge-secondary">New</span></a>
                                <div id="submenu-7" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/inbox.html">Inbox</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/email-details.html">Email Detail</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/email-compose.html">Email Compose</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/message-chat.html">Message Chat</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-fw fa-columns"></i>Icons</a>
                                <div id="submenu-8" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/icon-fontawesome.html">FontAwesome Icons</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/icon-material.html">Material Icons</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/icon-simple-lineicon.html">Simpleline Icon</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/icon-themify.html">Themify Icon</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/icon-flag.html">Flag Icons</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/icon-weather.html">Weather Icon</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fas fa-fw fa-map-marker-alt"></i>Maps</a>
                                <div id="submenu-9" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/map-google.html">Google Maps</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/map-vector.html">Vector Maps</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-f fa-folder"></i>Menu Level</a>
                                <div id="submenu-10" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Level 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-11" aria-controls="submenu-11">Level 2</a>
                                            <div id="submenu-11" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">Level 1</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">Level 2</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Level 3</a>
                                        </li>
                                    </ul>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">{{title}}</h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Total Views</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">123</h1>
                                        </div>
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span><i class="fa fa-fw fa-arrow-up"></i></span><span>5.86%</span>
                                        </div>
                                    </div>
                                    <!-- <div id="sparkline-revenue"></div> -->
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Affiliate Referrals</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">4</h1>
                                        </div>
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span><i class="fa fa-fw fa-arrow-up"></i></span><span>5.86%</span>
                                        </div>
                                    </div>
                                    <!-- <div id="sparkline-revenue2"></div> -->
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Refunds</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">0.00</h1>
                                        </div>
                                        <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                                            <span>N/A</span>
                                        </div>
                                    </div>
                                    <!-- <div id="sparkline-revenue3"></div> -->
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Avg. Revenue Per User</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">$28000</h1>
                                        </div>
                                        <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                                            <span>-2.00%</span>
                                        </div>
                                    </div>
                                    <!-- <div id="sparkline-revenue4"></div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Recent Athletes</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        <th class="border-0">Image</th>
                                                        <th class="border-0">Athlete Name</th>
                                                        <th class="border-0">Username</th>
                                                        <th class="border-0">Age</th>
                                                        <th class="border-0">Height</th>
                                                        <th class="border-0">Weight</th>
                                                        <th class="border-0">School</th>
                                                        <th class="border-0">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Product #1 </td>
                                                        <td>id000001 </td>
                                                        <td>20</td>
                                                        <td>$80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        <td>Patricia J. King </td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/product-pic-2.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Product #2 </td>
                                                        <td>id000002 </td>
                                                        <td>12</td>
                                                        <td>$180.00</td>
                                                        <td>25-08-2018 21:12:56</td>
                                                        <td>Rachel J. Wicker </td>
                                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/product-pic-3.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Product #3 </td>
                                                        <td>id000003 </td>
                                                        <td>23</td>
                                                        <td>$820.00</td>
                                                        <td>24-08-2018 14:12:77</td>
                                                        <td>Michael K. Ledford </td>
                                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/product-pic-4.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Product #4 </td>
                                                        <td>id000004 </td>
                                                        <td>34</td>
                                                        <td>$340.00</td>
                                                        <td>23-08-2018 09:12:35</td>
                                                        <td>Michael K. Ledford </td>
                                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->


                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- customer acquistion  -->
                            <!-- ============================================================== -->
                            <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Customer Acquisition</h5>
                                    <div class="card-body">
                                        <div class="ct-chart ct-golden-section" style="height: 354px;"></div>
                                        <div class="text-center">
                                            <span class="legend-item mr-2">
                                                    <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">Returning</span>
                                            </span>
                                            <span class="legend-item mr-2">

                                                    <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">First Time</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- ============================================================== -->
                            <!-- end customer acquistion  -->
                            <!-- ============================================================== -->
                        </div>
                        <div class="row">
                            <!-- ============================================================== -->
              				                        <!-- product category  -->
                            <!-- ============================================================== -->
                            <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header"> Product Category</h5>
                                    <div class="card-body">
                                        <div class="ct-chart-category ct-golden-section" style="height: 315px;"></div>
                                        <div class="text-center m-t-40">
                                            <span class="legend-item mr-3">
                                                    <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full "></i></span><span class="legend-text">Man</span>
                                            </span>
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">Woman</span>
                                            </span>
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-info mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">Accessories</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- ============================================================== -->
                            <!-- end product category  -->
                                   <!-- product sales  -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- end product sales  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-3 col-lg-12 col-md-6 col-sm-12 col-12">
                                <!-- ============================================================== -->
                                <!-- top perfomimg  -->
                                <!-- ============================================================== -->
                                <!-- <div class="card">
                                    <h5 class="card-header">Top Performing Athlets</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table no-wrap p-table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Campaign</th>
                                                        <th class="border-0">Visits</th>
                                                        <th class="border-0">Revenue</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Campaign#1</td>
                                                        <td>98,789 </td>
                                                        <td>$4563</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Campaign#2</td>
                                                        <td>2,789 </td>
                                                        <td>$325</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Campaign#3</td>
                                                        <td>1,459 </td>
                                                        <td>$225</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Campaign#4</td>
                                                        <td>5,035 </td>
                                                        <td>$856</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Campaign#5</td>
                                                        <td>10,000 </td>
                                                        <td>$1000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Campaign#5</td>
                                                        <td>10,000 </td>
                                                        <td>$1000</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <a href="#" class="btn btn-outline-light float-right">Details</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- ============================================================== -->
                                <!-- end top perfomimg  -->
                                <!-- ============================================================== -->
                            </div>
                        </div>

                        <div class="row">
                            <!-- ============================================================== -->
                            <!-- sales  -->
                            <!-- ============================================================== -->
                            <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="card border-3 border-top border-top-primary">
                                    <div class="card-body">
                                        <h5 class="text-muted">Sales</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">$12099</h1>
                                        </div>
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">5.86%</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- ============================================================== -->
                            <!-- end sales  -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- new customer  -->
                            <!-- ============================================================== -->
                            <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="card border-3 border-top border-top-primary">
                                    <div class="card-body">
                                        <h5 class="text-muted">New Athletes</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">13</h1>
                                        </div>
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- ============================================================== -->
                            <!-- end new customer  -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- visitor  -->
                            <!-- ============================================================== -->
                            <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="card border-3 border-top border-top-primary">
                                    <div class="card-body">
                                        <h5 class="text-muted">Visitor</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">13000</h1>
                                        </div>
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                            <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">5%</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- ============================================================== -->
                            <!-- end visitor  -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- total orders  -->
                            <!-- ============================================================== -->
                            <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="card border-3 border-top border-top-primary">
                                    <div class="card-body">
                                        <h5 class="text-muted">Total Orders</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">1340</h1>
                                        </div>
                                        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                            <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- ============================================================== -->
                            <!-- end total orders  -->
                            <!-- ============================================================== -->
                        </div>
                        <div class="row">
                            <!-- ============================================================== -->
                            <!-- total revenue  -->
                            <!-- ============================================================== -->


                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- category revenue  -->
                            <!-- ============================================================== -->
                            <div class="center col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Athletes by Position</h5>
                                    <div class="card-body">
                                        <div id="c3chart_category" style="height: 420px;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end category revenue  -->
                            <!-- ============================================================== -->

                            <!-- <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header"> Total Athletes</h5>
                                    <div class="card-body">
                                        <div id="morris_totalrevenue"></div>
                                    </div>
                                    <div class="card-footer">
                                        <p class="display-7 font-weight-bold"><span class="text-primary d-inline-block">26,000</span><span class="text-success float-right">+9.45%</span></p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
                                <!-- ============================================================== -->
                                <!-- social source  -->
                                <!-- ============================================================== -->
                                <!-- <div class="card">
                                    <h5 class="card-header"> Sales By Social Source</h5>
                                    <div class="card-body p-0">
                                        <ul class="social-sales list-group list-group-flush">
                                            <li class="list-group-item social-sales-content"><span class="social-sales-icon-circle facebook-bgcolor mr-2"><i class="fab fa-facebook-f"></i></span><span class="social-sales-name">Facebook</span><span class="social-sales-count text-dark">120 Sales</span>
                                            </li>
                                            <li class="list-group-item social-sales-content"><span class="social-sales-icon-circle twitter-bgcolor mr-2"><i class="fab fa-twitter"></i></span><span class="social-sales-name">Twitter</span><span class="social-sales-count text-dark">99 Sales</span>
                                            </li>
                                            <li class="list-group-item social-sales-content"><span class="social-sales-icon-circle instagram-bgcolor mr-2"><i class="fab fa-instagram"></i></span><span class="social-sales-name">Instagram</span><span class="social-sales-count text-dark">76 Sales</span>
                                            </li>
                                            <li class="list-group-item social-sales-content"><span class="social-sales-icon-circle pinterest-bgcolor mr-2"><i class="fab fa-pinterest-p"></i></span><span class="social-sales-name">Pinterest</span><span class="social-sales-count text-dark">56 Sales</span>
                                            </li>
                                            <li class="list-group-item social-sales-content"><span class="social-sales-icon-circle googleplus-bgcolor mr-2"><i class="fab fa-google-plus-g"></i></span><span class="social-sales-name">Google Plus</span><span class="social-sales-count text-dark">36 Sales</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#" class="btn-primary-link">View Details</a>
                                    </div>
                                </div> -->
                                <!-- ============================================================== -->
                                <!-- end social source  -->
                                <!-- ============================================================== -->
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <!-- ============================================================== -->
                                <!-- sales traffice source  -->
                                <!-- ============================================================== -->
                                <!-- <div class="card">
                                    <h5 class="card-header"> Sales By Traffic Source</h5>
                                    <div class="card-body p-0">
                                        <ul class="traffic-sales list-group list-group-flush">
                                            <li class="traffic-sales-content list-group-item "><span class="traffic-sales-name">Direct</span><span class="traffic-sales-amount">$4000.00  <span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1 text-success">5.86%</span></span>
                                            </li>
                                            <li class="traffic-sales-content list-group-item"><span class="traffic-sales-name">Search<span class="traffic-sales-amount">$3123.00  <span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1 text-success">5.86%</span></span>
                                                </span>
                                            </li>
                                            <li class="traffic-sales-content list-group-item"><span class="traffic-sales-name">Social<span class="traffic-sales-amount ">$3099.00  <span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1 text-success">5.86%</span></span>
                                                </span>
                                            </li>
                                            <li class="traffic-sales-content list-group-item"><span class="traffic-sales-name">Referrals<span class="traffic-sales-amount ">$2220.00   <span class="icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light"><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1 text-danger">4.02%</span></span>
                                                </span>
                                            </li>
                                            <li class="traffic-sales-content list-group-item "><span class="traffic-sales-name">Email<span class="traffic-sales-amount">$1567.00   <span class="icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light"><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1 text-danger">3.86%</span></span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#" class="btn-primary-link">View Details</a>
                                    </div>
                                </div> -->
                            </div>
                            <!-- ============================================================== -->
                            <!-- end sales traffice source  -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- sales traffic country source  -->
                            <!-- ============================================================== -->
                            <!-- <div class="col-xl-3 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Sales By Country Traffic Source</h5>
                                    <div class="card-body p-0">
                                        <ul class="country-sales list-group list-group-flush">
                                            <li class="country-sales-content list-group-item"><span class="mr-2"><i class="flag-icon flag-icon-us" title="us" id="us"></i> </span>
                                                <span class="">United States</span><span class="float-right text-dark">78%</span>
                                            </li>
                                            <li class="list-group-item country-sales-content"><span class="mr-2"><i class="flag-icon flag-icon-ca" title="ca" id="ca"></i></span><span class="">Canada</span><span class="float-right text-dark">7%</span>
                                            </li>
                                            <li class="list-group-item country-sales-content"><span class="mr-2"><i class="flag-icon flag-icon-ru" title="ru" id="ru"></i></span><span class="">Russia</span><span class="float-right text-dark">4%</span>
                                            </li>
                                            <li class="list-group-item country-sales-content"><span class=" mr-2"><i class="flag-icon flag-icon-in" title="in" id="in"></i></span><span class="">India</span><span class="float-right text-dark">12%</span>
                                            </li>
                                            <li class="list-group-item country-sales-content"><span class=" mr-2"><i class="flag-icon flag-icon-fr" title="fr" id="fr"></i></span><span class="">France</span><span class="float-right text-dark">16%</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#" class="btn-primary-link">View Details</a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- ============================================================== -->
                            <!-- end sales traffice country source  -->
                            <!-- ============================================================== -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
        <div>
          <!-- Optional JavaScript -->
          <!-- jquery 3.3.1 -->
          <!-- <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script> -->
          <!-- bootstap bundle js -->
          <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
          <!-- slimscroll js -->
          <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
          <!-- main js -->
          <script src="assets/libs/js/main-js.js"></script>
          <!-- chart chartist js -->
          <script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
          <!-- sparkline js -->
          <script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
          <!-- morris js -->
          <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
          <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
          <!-- chart c3 js -->
          <script src="assets/vendor/charts/c3charts/c3.min.js"></script>
          <script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
          <script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
          <script src="assets/libs/js/dashboard-ecommerce.js"></script>
        </div>
    </div>
</template>

<script>
import Cookies from 'js-cookie'
const userId = Cookies.get('tcg-user-id')
const username = Cookies.get('tcg-username')

export default {

  // Components used in the View
  components: {
    //
  },
  data() {
    return {
      title: 'Your Dashboard',
      username: username,
    }
  }
}
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.dash {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, .25); */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*

*/

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
</style>

