<template>
    <div>
    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <!-- Dark TCG SVG -->
          <svg width="80px" height="33px" viewBox="0 0 212 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>the combine group</title>
            <desc>Created with Sketch.</desc>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="the-combine-group-copy-2" transform="translate(0.000000, -3.000000)" fill="#201E1E">
                    <g id="the-combine-group">
                        <g id="the_combine_group" transform="translate(0.000000, 6.000000)" fill-rule="nonzero">
                            <path d="M9.22254416,24.3429536 L11.6570424,26.7775075 C11.9537679,27.0741642 12.432575,27.0741642 12.7293006,26.7775075 L16.0000253,23.5067985 L19.27075,26.7775075 C19.5674081,27.0741642 20.0462827,27.0741642 20.3429408,26.7775075 L22.7775064,24.3429536 C23.0741645,24.0462295 23.0741645,23.5674247 22.7775064,23.2707005 L19.5067817,19.9999916 L22.7775064,16.7292826 C23.0741645,16.4325585 23.0741645,15.9537537 22.7775064,15.6570296 L20.3429408,13.2225431 C20.0462827,12.925819 19.5674081,12.925819 19.27075,13.2225431 L16.0000253,16.4932521 L12.7293006,13.2225431 C12.432575,12.925819 11.9537679,12.925819 11.6570424,13.2225431 L9.22254416,15.6570296 C8.92581861,15.9537537 8.92581861,16.4325585 9.22254416,16.7292826 L12.4932689,19.9999916 L9.22254416,23.2707005 C8.92581861,23.5674247 8.92581861,24.0462295 9.22254416,24.3429536 Z" id="Shape"></path>
                            <path d="M43.6557535,33.2225442 L41.2224362,35.6570424 C40.9258546,35.9537679 40.9258546,36.432575 41.2224362,36.7293006 L44.4915744,40.0000253 L41.2224362,43.27075 C40.9258546,43.5674081 40.9258546,44.0462827 41.2224362,44.3429408 L43.6557535,46.7775064 C43.9523351,47.0741645 44.43091,47.0741645 44.7274916,46.7775064 L47.9966298,43.5067817 L51.2657679,46.7775064 C51.5622821,47.0741645 52.0409244,47.0741645 52.3374386,46.7775064 L54.7708233,44.3429408 C55.0673375,44.0462827 55.0673375,43.5674081 54.7708233,43.27075 L51.5084256,40.0000253 L54.7775638,36.7293006 C55.0741454,36.432575 55.0741454,35.9537679 54.7775638,35.6570424 L52.3442465,33.2225442 C52.0476649,32.9258186 51.56909,32.9258186 51.2725084,33.2225442 L48.0033702,36.4932689 L44.7342321,33.2225442 C44.43091,32.9258186 43.9523351,32.9258186 43.6557535,33.2225442 Z" id="Shape"></path>
                            <circle id="Oval" cx="27" cy="57" r="9"></circle>
                            <circle id="Oval" cx="54" cy="11" r="9"></circle>
                            <path d="M32.2063647,29.419144 C30.2707757,32.1717932 28.6613298,35.0790722 27.4205676,38.0565034 C25.3006367,43.1686966 25.0170339,46.7218815 25.0028538,46.8694188 C24.9602425,47.452265 25.3998977,47.9578665 25.9812834,48 C26.0095728,48 26.038004,48 26.0592742,48 C26.6122997,48 27.0802443,47.5786654 27.1156946,47.0239082 C27.1156946,46.988797 27.3851173,43.6603238 29.377356,38.8570391 C30.5543785,36.0130305 32.0857626,33.2463369 33.9363418,30.6199476 C36.0774719,27.5793162 38.6512382,24.7353077 41.5864562,22.1440999 L42.90528,23.7732603 L44.9542393,18.5557335 C45.0960407,18.1975991 44.8975188,17.9518206 44.5075649,18.0079985 L38.9418601,18.8647122 L40.2677032,20.5008949 C37.1694136,23.2185031 34.4610069,26.2169308 32.2063647,29.419144 Z" id="Shape"></path>
                            <path d="M0.0765334775,23.067712 C0.423028646,28.2328536 1.92450771,33.2720162 4.53036793,38.0381541 C8.96983728,46.1358084 15.0118468,50.6081351 15.2644995,50.7900349 C15.459403,50.9300116 15.6903998,51 15.9141779,51 C16.2390172,51 16.5638564,50.8530244 16.7804159,50.5800698 C17.1413483,50.1181466 17.0475059,49.4602559 16.5711472,49.110314 C16.5133258,49.068321 10.6084707,44.6870491 6.40721676,36.9744009 C3.95287599,32.4740788 2.5525302,27.7288674 2.23483744,22.8717446 C1.85946768,17.0837065 3.03617971,11.0857033 5.73588237,5.05270593 L7.65611528,5.98355123 L7.30954793,0.412477083 C7.28789198,0.0275410555 6.99914601,-0.112435682 6.66716033,0.0975294242 L1.85946768,3.17001881 L3.79413789,4.10786295 C0.913896801,10.5117287 -0.334929535,16.8806703 0.0765334775,23.067712 Z" id="Shape"></path>
                        </g>
                        <text id="the-Combine-Group" font-family="Bungee-Regular, Bungee" font-size="24" font-weight="normal" letter-spacing="1.875">
                            <tspan x="121.3595" y="21">the</tspan>
                            <tspan x="83.0855" y="45">Combine</tspan>
                            <tspan x="100.9805" y="69">Group</tspan>
                        </text>
                    </g>
                </g>
            </g>
        </svg>
          <!--  -->
          <small class="d-block mb-3 text-muted">&copy; 2018-2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
    </div>

</template>


<script>
// import tcgLogo from '../static/tcg-logo-white.svg'

export default {
  components: {
    // tcgLogo
  }
}
</script>
